.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.result-card {
    margin-right: 20px; 
}

.result-card img {
    max-width: 100%;
    height: auto;
}
.search-bar {
    display: flex;
    gap: 10px;
    align-items: center;
  }
.quote-box {
    border-left: 5px solid #5e8e5a; 
    background-color: #f9f9f9; 
    padding: 20px;
    max-width: 300px; 
    margin-top: 20px; 
}
.quote-box p {
    font-style: italic; 
    font-size: 18px; 
    color: #333; 
}

.joke-box {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 15px;
    margin-top: 10px;
    max-width: 400px; 
}

body {
    background-image: linear-gradient(to bottom right, rgb(232, 221, 16), rgb(14, 104, 177));
}
#results {
    align-items: center;
}
#scrollDownBtn{
    background-color: yellow;
    padding: 20px;
}

.jokesTitle {
    text-indent: 50px;
    font-size: 75px;
}